[submodule "edusync-frontend"]
	path = edusync-frontend
	url = https://github.com/n1ved/edusync-frontend
[submodule "eduSync_Backend"]
	path = eduSync_Backend
	url = https://github.com/nikhilt77/eduSync_Backend
